<div class="container w-container">
    <a href="#" class="brand w-nav-brand"><img width="250px" src="/img/logo7.svg"></a>
</div>

<div class="container-2 w-container">
    <a href="" class="brand-2 w-nav-brand"><img width="200px" src="/img/gretaunterschrift2.svg"></a>
</div>

<div class="container-3 w-container">
    <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="www.google.de"class="w-nav-link">ABOUT</a>
        <a  href="www.google.de" class="w-nav-link">PORTFOLIO</a>
        <a  href="www.google.de" class="w-nav-link">CONTACT</a>
    </nav>

    <div class="w-nav button">
        <div class="w-icon-nav-menu"></div>
    </div>
</div>
