.container[b-uwt0t8492f] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-align: center;
}

.brand[b-uwt0t8492f] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.container-2[b-uwt0t8492f] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 28px;
    margin-top: -4vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-box-align: center;
    -webkit-aligns-iems: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-link[b-uwt0t8492f] {
    font-size: 14px;
}

.nav-menu[b-uwt0t8492f] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.container-3[b-uwt0t8492f] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-aligns-iems: center;
    -ms-flex-align: center;
    align-items: center;
}

a:hover[b-uwt0t8492f], a:visited[b-uwt0t8492f], a:link[b-uwt0t8492f], a:active[b-uwt0t8492f] {
    text-decoration: none;
    color: black;
    padding-inline: 20px;
}

@media screen and (max-width:767px) {
    a:hover[b-uwt0t8492f], a:visited[b-uwt0t8492f], a:link[b-uwt0t8492f], a:active[b-uwt0t8492f] {
        text-decoration: none;
        color: black;
        padding-inline: 10px;
    }
}

@media screen and (max-width:479px) {
    a:hover[b-uwt0t8492f], a:visited[b-uwt0t8492f], a:link[b-uwt0t8492f], a:active[b-uwt0t8492f] {
        text-decoration: none;
        color: black;
        padding-inline: 10px;
    }
}
